@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main {
    background: url("../img/background@2x-min.jpg");
    background-position: center;
    background-size: cover;
  }
}
