.services {
  margin-bottom: 55px;
}
.services-name {
  text-align: center;
  margin-top: 40px;
}
.servic-article {
  display: -webkit-box;
}
.servic-wrapper {
  margin-left: 30px;
  margin-top: 9px;
  width: 280px;
}
.services-list__item:nth-child(-n + 3) {
  margin-bottom: 40px;
}
.services-name__under-title {
  margin: 0 auto 20px auto;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}
.services-name__title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.services-name__title--underline::after {
  content: "";
  display: block;
  width: 60px;
  height: 3.5px;
  background-color: #f38181;
  margin-top: 37px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 1200px;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.services-list__item {
  list-style-type: none;
  padding: 0;
  width: 375px;
  margin: 30px 0 20px 0;
}
.services-article__svg {
  display: inline-flex;
  margin-top: 21px;
}
.servic-article__title {
  text-transform: uppercase;
  font-size: 14px;
}
.servic-article__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  color: #a6a6a6;
}
